*{
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


   body{
    background-color:#08090A;        

}

#page1{
    min-height: 100vh;
    background-image: url("https://mintlify-assets.b-cdn.net/bigbend.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/* #page1{
    min-height: 100vh;
    background-image: url("https://mintlify-assets.b-cdn.net/bigbend.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
 
} */
#navbar{
    padding-top: 20px;
    color: white;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    align-items: center;
}
#logo{
    color: white;
    width: 130px;
}
#last_child{
    display: flex;
    gap: 20px;
}
a{
    color: white;
    text-decoration: none;
}
#mid_child{

    font-weight: 500;
    font-size: larger;
    margin-left: 10px;
    display:flex;
    gap: 20px;
}

.last{
   
    border-radius: 15px;
    padding-top: 4px;
    /* padding-right: 10px;
    padding-left: 10px; */
    padding: 10px;
    /* background-color: #695757; */

}

 #l1{
   background:linear-gradient(180deg,#7f8797,#8e93a2);
     backdrop-filter: blur(12px);

}
#l2{
    background-color: #fff;
    color: black;

} 
#free{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#small_nav{
    /* height: ; */
    display: flex;
    gap: 5px;
    align-items: center;
    background:linear-gradient(180deg,#9ba1ae,#8e93a2);
    width: 390px;
    margin-top: 45px;
    border-radius: 40px;
    margin-right: 40px;
    justify-content: center;
}

#small_nav #new{
    font-weight:400;
    background-color: #fff;
    border-radius: 500px;
    margin: 3px;
    /* padding-top: 1px;
    padding-right: 1px; */
    padding: 1px;
    padding-left: 3px;
     padding-right: 3px;
}
#small_nav_outer{
    display: flex;
    justify-content: center;
}
#center_content{
    display: flex;
    justify-content: center;
    margin-top: 20px;
padding-left: 20px;
text-indent: 60px;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    font-weight: bold;
}
#center_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 400;
    margin-top: 20px;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: center;
}
#mail{
    margin-top:30px;
    margin-left: 550px;
   display: flex;
  align-items: center;
   justify-content: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 50px;
  padding: 2px;
  width: 420px;
 
}
#Start_now{
     background-color: #fff;
  backdrop-filter: blur(12px);
}
#mail input {
  flex: 1;
  background: transparent;
  border: none;
  justify-content: center;
  outline: none;
  padding: 14px 18px;
  color: #fff;
  font-size: 16px;
}
#mail input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
#Start_now {
  background: #ffffff;
  color: #000;
  border: none;
  border-radius: 40px;
  padding: 12px 22px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}
#photo_page{
      display: flex;
      justify-content: center;
}
#page_photo{
  
    border-radius: 30px;
    margin-top: 40px;
    
    width: 1000px;
}
#page2{
    min-height: 100vh;
    background-color:#08090A;
}
#companies{
    margin-top: 20px;
    margin-left: 100px;
    width: 1200px;
}
#p2_content {
    color: white;
    /* display: flex; */
    /* justify-content: center; */

   
}
#p2_content h2{
     margin-left: 450px;
    font-size: xxx-large;
    
}
#p2_content p{
    text-indent: 10px;
    margin-top: 20px;
    margin-left: 380px;
    font-size: x-large;
}
#h2para{
 gap: 100px;
    text-indent: 10px;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Scards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.crd{
    
    color: white;
    margin: 4px;
    border-radius: 20px;
    border: 3px solid rgb(19, 18, 18);
    height: 500px;
    width: 500px;
    background-color: #08090A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.crd h2{
    margin-left: 20px;
    margin-top: 20px;
}
.crd p{
    margin-left: 29px;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.crd img{
    width: 500px;
}
.bcard{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
   border: 3px solid rgb(19, 18, 18);
    height: 560px;
    width: 1040px;
    background-color:#08090A;
    margin-top: 40px;
    margin-left: 235px;
    border-radius: 20px;
  
}
.bcard h2{
    margin-top: 40px;
    margin-left: 300px;
}

.bcard p{
    margin-top: 20px;
    margin-left: 280px;
}

.bcard img{
    margin-top: 40px;
    width: 1050px;
}
#enterprise_knowledge{
    margin-top: 40px;
    display: flex;
    color: white;
    justify-content: center;
    background-color: #08090A;
    /* border: 2px solid red; */
    /* width: 1000px; */
}
#cont{
    margin: 20px;
}
#cont h2{
    font-size: xx-large;
}
#cont p{
    margin-top:20px;
    font-size: large;
}
#explore{
    margin-top: 125px;
    margin-left: 300px;
}
#explore button{
    font-family: cursive;
    border-radius: 20px;
    width: 170px;
    height: 40px;
    background-color: #ffffff;
}
#feat{
   
    display: flex;
    /* border: 3px solid red; */
    background-color: #08090A;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;
}
.rev{
    color: white;
     /* border: 4px solid    black; */
     /* margin: 40px; */
}
.rev p{
     margin-top:    px;
     margin-left: 10px;
}
.rev h2{
    margin-top: 20px;
    margin-left: 10px;
}

#story{
   display: flex;
   justify-content: center;
}
#story img{
    margin-top: 150px;
    border-radius: 30px;
}
#industry{
    background-color: #08090A;
         /* border: 2px solid red; */
      margin-top: 140px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
}
#industry_content h1{
    margin-top: 50px;
    /* border: 2px solid red; */
    margin-left:490px ; 
}
#industry_content p{
    text-indent: 10px;
    margin-top:30px;  margin-left:410px ; 
}
#inds_cards{
   gap: 25px;
    display: flex;
    justify-content: center;
    margin-top: 90px;
    /* border: 2px solid red; */
}

.inds_card{
position: relative;   
     margin-top: 50px;
    border-radius: 15px;
    width: 350px;
    height: 300px;
}
.inds_card img{
     width: 100%;
  height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 15px;
    width: 350px;
}
.card-text{
   position: absolute; 
  inset: 0;               /* top:0 right:0 bottom:0 left:0 */
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;

  background: rgba(0,0,0,0.35); /* optional dark overlay */
}
#perpex::hover{
    
    height: 10px;
    width: 10px;
}
#Winning{
    margin-top: 90px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  #08090A;
    color: white;
    /* border: 2px solid red; */
}
#Winning p{
    margin-top: 10px;
    font-weight: bold;
}
#Winning button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    height: 40px;
  border-radius: 15px;
}
#btn1{
    background-color: #fff;
    color: black;
}
#btn2{
     background-color: #000000;
    color: rgb(255, 255, 255);
}
.footer {
    margin-top: 100px;
  background: #08090A;
  color: #eaeaea;
  font-family: system-ui, sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;           /* center container */
  padding: 60px 20px;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.socials a {
  margin-left: 14px;
  color: #888;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid #222;
  margin: 30px 0;
}
.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.col h4 {
  font-size: 12px;
  letter-spacing: 1px;
  color: #888;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.col a {
  display: block;
  color: #eaeaea;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.col a:hover {
  color: #4ade80;
}
.footer-bottom {
  text-align: left;
  font-size: 14px;
  color: #aaa;
}
